In [1]:
import pandas as pd

In [2]:
def json_to_js(json_, name):
    f = open(f"{name}.js", "w+")
    f.write(f"var {name} = ")
    f.write(str(json_))

    f.write(";")

    f.close()

In [3]:
df = pd.read_csv("Trade_DetailedTradeMatrix_E_All_Data_(Normalized).csv", encoding="latin_1")

In [4]:
df.head()

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,4,Algeria,230,"Cashew nuts, shelled",5910,Export Quantity,2016,2016,tonnes,3.0,*
1,2,Afghanistan,4,Algeria,230,"Cashew nuts, shelled",5922,Export Value,2016,2016,1000 US$,23.0,*
2,2,Afghanistan,4,Algeria,1293,Crude materials,5922,Export Value,2015,2015,1000 US$,1.0,*
3,2,Afghanistan,4,Algeria,1293,Crude materials,5922,Export Value,2016,2016,1000 US$,1.0,*
4,2,Afghanistan,4,Algeria,1293,Crude materials,5922,Export Value,2017,2017,1000 US$,5.0,R

In [5]:
honey = df[df["Item"] == "Honey, natural"]

In [6]:
honey = honey[~(honey == 0).any(axis=1)]

In [7]:
honey = honey[(honey["Unit"] == "tonnes") & (honey["Year"] == 2014) & (honey["Element"] == "Export Quantity")]

In [8]:
honey.head()

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
13508,2,Afghanistan,225,United Arab Emirates,1182,"Honey, natural",5910,Export Quantity,2014,2014,tonnes,1.0,*
213715,9,Argentina,10,Australia,1182,"Honey, natural",5910,Export Quantity,2014,2014,tonnes,1061.0,NaN
220803,9,Argentina,255,Belgium,1182,"Honey, natural",5910,Export Quantity,2014,2014,tonnes,65.0,NaN
228370,9,Argentina,19,Bolivia (Plurinational State of),1182,"Honey, natural",5910,Export Quantity,2014,2014,tonnes,48.0,NaN
254081,9,Argentina,33,Canada,1182,"Honey, natural",5910,Export Quantity,2014,2014,tonnes,1229.0,NaN

In [9]:
value_country = honey[["Reporter Countries", "Value"]].groupby(["Reporter Countries"]).agg('sum')

In [10]:
honey[honey["Value"] == honey["Value"].max()]

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
477463,9,Argentina,231,United States of America,1182,"Honey, natural",5910,Export Quantity,2014,2014,tonnes,35911.0,NaN

In [11]:
value_dict = value_country.to_dict()["Value"]

In [12]:
honey["Value"].unique()

array([1.0000e+00, 1.0610e+03, 6.5000e+01, 4.8000e+01, 1.2290e+03,
       9.0000e+01, 3.3800e+02, 6.5840e+03, 1.0810e+03, 8.4000e+01,
       9.4700e+02, 2.7030e+03, 7.7000e+01, 1.0920e+03, 2.0000e+01,
       1.5190e+03, 1.9000e+01, 9.5300e+02, 6.7700e+02, 3.5911e+04,
       3.0000e+00, 2.3000e+01, 3.0000e+01, 4.0100e+02, 3.3100e+02,
       4.2900e+02, 4.0000e+00, 3.8000e+01, 8.7000e+01, 6.6000e+01,
       7.3000e+01, 1.4000e+01, 4.3000e+01, 1.5600e+02, 4.2800e+02,
       2.0000e+00, 8.8000e+01, 1.3000e+01, 1.1000e+01, 2.2100e+02,
       4.1700e+02, 2.7000e+01, 2.1000e+01, 1.4300e+02, 3.7900e+02,
       9.3000e+01, 2.9000e+02, 4.3400e+02, 5.3000e+01, 1.0000e+01,
       6.9000e+01, 1.2000e+01, 6.5700e+02, 7.0000e+00, 1.9200e+02,
       5.0000e+00, 2.9000e+01, 1.4100e+02, 3.7000e+01, 1.7000e+01,
       4.5900e+02, 5.0200e+02, 7.5000e+01, 5.8000e+01, 1.5000e+01,
       4.9000e+01, 8.0000e+00, 1.0800e+02, 1.7920e+03, 1.6100e+02,
       5.2590e+03, 1.8400e+03, 1.2700e+02, 6.0000e+00, 4.0000e+01,
       2.7500e+02, 7.8200e+02, 1.8700e+03, 3.1190e+03, 1.1900e+02,
       1.9100e+02, 3.4900e+02, 2.0900e+02, 5.5600e+02, 7.1800e+02,
       3.4000e+01, 1.5630e+03, 5.4000e+01, 1.8000e+01, 3.5000e+02,
       1.4210e+03, 6.4000e+01, 4.2000e+01, 2.6600e+02, 1.8370e+03,
       1.0200e+02, 1.3500e+02, 2.2000e+01, 1.0300e+02, 1.3700e+02,
       8.0000e+01, 1.5010e+03, 1.9147e+04, 3.8400e+02, 3.5200e+02,
       3.1000e+01, 2.6700e+02, 8.6700e+02, 3.6250e+03, 2.1440e+03,
       4.6700e+02, 1.6000e+01, 1.0950e+03, 5.1000e+01, 6.8000e+01,
       3.9900e+02, 8.5000e+01, 2.5000e+02, 3.1430e+03, 5.9280e+03,
       1.9500e+03, 3.6130e+03, 3.9600e+02, 3.5400e+02, 4.1000e+01,
       6.3000e+01, 1.0400e+02, 2.0700e+02, 3.9000e+01, 1.3100e+02,
       1.3120e+03, 5.0360e+03, 6.2000e+01, 2.1327e+04, 6.7600e+02,
       5.4400e+02, 7.7200e+02, 4.4700e+02, 3.4600e+02, 4.0600e+02,
       3.2500e+02, 7.2410e+03, 3.0800e+02, 1.1980e+03, 3.0660e+03,
       2.5993e+04, 1.6500e+02, 9.0000e+00, 2.4200e+02, 1.4200e+02,
       1.0600e+02, 4.6000e+01, 1.1500e+02, 1.5230e+03, 4.2840e+03,
       5.6000e+01, 4.7800e+02, 9.9000e+01, 4.0750e+03, 1.7860e+03,
       5.6800e+02, 1.3730e+03, 1.3700e+03, 8.1000e+01, 1.2200e+02,
       2.4700e+03, 1.0631e+04, 6.1000e+01, 1.1300e+02, 6.9270e+03,
       3.8600e+02, 2.2223e+04, 1.3800e+02, 1.0100e+02, 1.8700e+02,
       2.8000e+01, 2.9520e+03, 7.4000e+01, 7.0000e+01, 8.9000e+01,
       1.0600e+03, 2.7100e+02, 4.0650e+03, 3.6000e+01, 2.8900e+02,
       6.0000e+01, 2.1600e+02, 3.4700e+02, 3.4500e+02, 2.4000e+01,
       4.2100e+02, 5.4200e+02, 2.1000e+02, 1.2300e+02, 3.5000e+01,
       1.6660e+03, 4.5000e+01, 9.2000e+01, 5.8000e+02, 2.1800e+02,
       1.5500e+02, 1.2800e+02, 4.4000e+01, 8.6000e+01, 2.6800e+02,
       9.1000e+01, 2.3600e+02, 5.5000e+01, 2.5900e+02, 2.4800e+02,
       3.9800e+02, 1.0000e+02, 8.3400e+02, 8.5100e+02, 2.8100e+02,
       2.6000e+01, 3.2100e+02, 1.7870e+03, 3.9100e+02, 1.8400e+02,
       5.9000e+01, 9.4000e+01, 2.8400e+02, 2.5000e+01, 3.1400e+02,
       1.5030e+03, 6.5800e+02, 2.6520e+03, 1.5300e+02, 9.3600e+02,
       6.7000e+01, 8.2000e+01, 3.4910e+03, 1.3540e+03, 1.3200e+02,
       1.4100e+03, 3.4300e+02, 1.3180e+03, 3.5300e+02, 1.1610e+03,
       3.4200e+02, 1.3600e+03, 3.5800e+02, 1.2600e+02, 1.4400e+02,
       1.2000e+02, 1.8600e+02, 4.5700e+02, 1.1190e+03, 1.2900e+02,
       1.0700e+02, 2.1400e+02, 1.0040e+03, 2.1300e+03, 4.0790e+03,
       7.5450e+03, 6.6700e+02, 5.0000e+01, 4.7000e+01, 2.3400e+02,
       3.9300e+02, 2.7900e+02, 7.9000e+01, 2.6400e+03, 5.8200e+02,
       2.1719e+04, 1.9500e+02, 4.6400e+02, 1.9300e+02, 3.4440e+03,
       5.6600e+02, 4.0000e+02, 2.3170e+03, 2.9950e+03, 1.6400e+02,
       4.0200e+02, 1.0500e+02, 5.2300e+02, 1.1400e+02, 2.6000e+02,
       1.5400e+02, 3.0300e+02, 1.0900e+02, 1.3300e+02, 9.5000e+01,
       2.3100e+02, 4.2000e+02, 5.0290e+03, 2.4300e+02, 1.6739e+04,
       3.7700e+02, 4.1090e+03, 3.9200e+02, 9.6700e+02, 3.2330e+03,
       7.2780e+03, 2.5800e+02, 4.0400e+02, 1.2100e+02, 1.0870e+03,
       1.3460e+03, 2.3000e+02, 1.6820e+03, 1.5150e+03, 2.4100e+02,
       5.9700e+02, 7.9100e+02, 1.6840e+03, 5.2500e+02, 7.8600e+02,
       5.7000e+01, 8.3000e+01, 1.8000e+02, 7.1500e+02, 4.3300e+02,
       1.8100e+02, 2.1100e+02, 1.2950e+03, 4.4430e+03, 3.3360e+03,
       2.9500e+02, 3.5600e+02, 9.8000e+02, 7.6000e+01, 6.9000e+02,
       3.3900e+02, 1.0360e+03, 2.0500e+02, 2.2300e+02, 9.6900e+02,
       7.7800e+02, 6.3700e+02, 2.3900e+02, 2.0600e+02, 3.7600e+02,
       4.8500e+02, 1.0060e+03, 5.6420e+03, 2.0190e+03, 2.7800e+02,
       2.3800e+02, 3.3000e+02, 3.0600e+02, 3.3000e+01, 4.5000e+02,
       5.8900e+02, 2.8500e+02, 8.3500e+02, 2.0800e+02, 1.6000e+02,
       1.1800e+02, 7.1000e+01, 1.7100e+02, 1.6300e+02, 2.9800e+02,
       9.3900e+02, 3.2000e+01, 2.2900e+02, 6.7800e+02, 4.0800e+02,
       5.2000e+01, 1.7900e+02, 1.7700e+02, 3.0700e+02, 9.3940e+03,
       3.7320e+03, 6.4000e+02, 1.1600e+02, 2.7760e+03, 3.1700e+02,
       1.4800e+02, 1.7200e+02, 1.9020e+03, 5.0100e+02, 2.5700e+02,
       4.4800e+02, 1.1720e+03, 1.5000e+02, 1.1100e+02, 4.5800e+02,
       1.8500e+02, 5.6500e+02, 3.7140e+03, 1.6200e+02, 4.8030e+03,
       4.6000e+02, 1.3340e+03, 8.8500e+02, 4.5100e+03, 1.4460e+03,
       2.0000e+02, 2.4220e+03, 1.9900e+02, 4.0900e+02, 6.0900e+02,
       3.7400e+02, 1.7830e+03, 1.1472e+04, 7.9900e+02, 6.0800e+02,
       6.9760e+03, 1.8230e+03, 1.3970e+03, 7.8070e+03, 3.6100e+02,
       4.1800e+02, 7.2000e+01, 1.1200e+02, 1.2220e+03, 5.1700e+02,
       5.7500e+02, 4.1600e+02, 2.6900e+02, 6.3100e+02, 1.7600e+02,
       1.6900e+02, 4.7300e+02, 3.2740e+03, 1.0820e+03, 5.1760e+03,
       7.9500e+02])

In [13]:
import json

capitals = json.loads(open('capitals.json').read())
capitals = capitals["features"]
# read file
config = json.loads(open('countries.geo.json').read())
config = config["features"]

In [14]:
cap_dict = {}
for elem in capitals:
    cap_dict[elem["properties"]["country"]] = elem["geometry"]["coordinates"]

In [15]:
transforms = {
    "The Bahamas": "Bahamas",
    "Republic of the Congo": "Congo Republic",
    "Democratic Republic of the Congo": "Congo Democratic Republic",
    "Guinea Bissau":"Guinea-Bissau",
    "South Korea": "Korea South",
    "North Korea": "Korea North",
    "Republic of Serbia" : "Serbia",
    "United Republic of Tanzania" : "Tanzania",
    "United States of America" : "United States"     
             }

transforms_pd = {
    "The Bahamas": "Bahamas",
    "Ivory Coast": "Côte d'Ivoire",
    "Republic of Serbia" : "Serbia",
    "Republic of the Congo": "Congo Republic",
    "Democratic Republic of the Congo": "Congo Democratic Republic",
    "Guinea Bissau":"Guinea-Bissau",
    "South Korea": "Republic of Korea",
    "North Korea": "Korea North",
    "Dominican Republic":'Dominica',
    "Russia" : "Russian Federation",
    "Czech Republic": "Czechia",
    "Bolivia" : "Bolivia (Plurinational State of)",
    "China" : "China, mainland",
    "Macedonia" : "North Macedonia",
    "Iran" : "Iran (Islamic Republic of)",
    "East Timor": "Timor-Leste",
    "Taiwan" : "China, Taiwan Province of",
    "Moldova" : "Republic of Moldova",
    "Vietnam": "Viet Nam",
    "Syria":"Syrian Arab Republic",
    "Brunei":"Brunei Darussalam"
             }

inv_transforms_pd = {v: k for k, v in transforms_pd.items()}

def transform(country, transforms):
    return transforms.get(country, country)

In [20]:
debug = True

In [21]:
countries = []
existing_country = []
for elem in config:
    country = elem["properties"]["name"]
    existing_country.append(country)
    if (transform(country, transforms) not in cap_dict):
        if debug:
            print(country+" has capital")
        continue
    elif transform(country, transforms_pd) not in value_dict :
        if debug:
            print(country + " not export")
        elem["location"] = cap_dict[transform(country, transforms)]
    else:
        elem["location"] = cap_dict[transform(country, transforms)]
        elem["value"] = value_dict[transform(country, transforms_pd)]
    countries.append(elem)

Angola not export
Albania not export
Antarctica not export
French Southern and Antarctic Lands has capital
Azerbaijan not export
Burundi not export
Burkina Faso not export
The Bahamas not export
Belize not export
Bermuda not export
Brunei not export
Bhutan not export
Botswana not export
Central African Republic not export
Democratic Republic of the Congo not export
Republic of the Congo not export
Colombia not export
Costa Rica not export
Northern Cyprus has capital
Djibouti not export
Algeria not export
Eritrea not export
Fiji not export
Falkland Islands not export
Gabon not export
Guinea not export
Gambia not export
Guinea Bissau not export
Equatorial Guinea not export
Greenland not export
French Guiana has capital
Honduras not export
Haiti not export
Iraq not export
Iceland not export
Jamaica not export
Cambodia not export
Kosovo has capital
Laos not export
Liberia not export
Libya not export
Lesotho not export
Myanmar not export
Montenegro not export
Mongolia not export
Mozambique not export
Mauritania not export
Namibia not export
New Caledonia not export
Niger not export
Nigeria not export
Panama not export
Philippines not export
Papua New Guinea not export
Puerto Rico not export
North Korea not export
Paraguay not export
Rwanda not export
Western Sahara not export
Sudan not export
South Sudan has capital
Solomon Islands not export
Sierra Leone not export
Somaliland has capital
Somalia not export
Suriname not export
Swaziland not export
Syria not export
Chad not export
Togo not export
Tajikistan not export
Turkmenistan not export
East Timor has capital
Trinidad and Tobago not export
Uzbekistan not export
Venezuela not export
Vietnam not export
Vanuatu not export
West Bank has capital
Zimbabwe not export

In [22]:
exp = honey[["Reporter Countries", "Partner Countries", "Value"]]
exportations = []
for i in exp.values.tolist():
    if transform(i[0], inv_transforms_pd) in existing_country and transform(i[1], inv_transforms_pd) in existing_country:
        exportations.append({"from":transform(i[0], inv_transforms_pd), "to":transform(i[1], inv_transforms_pd), "Value":i[2],})
    elif debug :
        print (i[0], i[1])

Australia Bahrain
Australia China, Hong Kong SAR
Australia Christmas Island
Australia Maldives
Australia Mauritius
Australia Nauru
Australia Singapore
Austria Bahrain
Austria China, Hong Kong SAR
Austria Maldives
Austria Singapore
Bahrain Saudi Arabia
Belgium China, Hong Kong SAR
Belgium Maldives
Belgium Seychelles
Belgium Singapore
Bosnia and Herzegovina Unspecified Area
Brazil China, Hong Kong SAR
Cabo Verde Netherlands
Canada Barbados
Canada China, Hong Kong SAR
Canada Saint Pierre and Miquelon
Canada Singapore
China, Hong Kong SAR China, Macao SAR
China, Hong Kong SAR China, mainland
China, Hong Kong SAR China, Taiwan Province of
China, Hong Kong SAR Republic of Korea
China, Hong Kong SAR United States of America
China, Hong Kong SAR Viet Nam
China, Macao SAR China, Hong Kong SAR
China, mainland Bahrain
China, mainland China, Hong Kong SAR
China, mainland Maldives
China, mainland Mauritius
China, mainland Singapore
China, Taiwan Province of China, Hong Kong SAR
China, Taiwan Province of China, Macao SAR
China, Taiwan Province of Singapore
Côte d'Ivoire Unspecified Area
Croatia Unspecified Area
Denmark China, Hong Kong SAR
Denmark Faroe Islands
Egypt Bahrain
Egypt China, Hong Kong SAR
Egypt Maldives
Egypt Seychelles
Eswatini Qatar
Ethiopia Bahrain
France Bahrain
France China, Hong Kong SAR
France Congo
France French Polynesia
France Maldives
France Mauritius
France Saint Pierre and Miquelon
France Seychelles
France Singapore
France Unspecified Area
France Wallis and Futuna Islands
Georgia China, Hong Kong SAR
Germany Bahrain
Germany China, Hong Kong SAR
Germany Palestine
Germany Singapore
Germany Unspecified Area
Ghana Antigua and Barbuda
Greece Bahrain
Greece China, Hong Kong SAR
Greece Singapore
Grenada Barbados
Guyana Barbados
Hungary China, Hong Kong SAR
Hungary Singapore
India Bahrain
India China, Hong Kong SAR
India Maldives
India Mauritius
India Seychelles
India Singapore
Indonesia China, Hong Kong SAR
Indonesia Singapore
Iran (Islamic Republic of) Bahrain
Iran (Islamic Republic of) Mauritius
Ireland China, Hong Kong SAR
Italy Bahrain
Italy China, Hong Kong SAR
Italy Congo
Italy Maldives
Italy Singapore
Italy Unspecified Area
Japan China, Hong Kong SAR
Japan Singapore
Jordan Unspecified Area
Kuwait Bahrain
Lebanon Bahrain
Lebanon Congo
Madagascar Comoros
Madagascar Mauritius
Malaysia Bahrain
Malaysia China, Hong Kong SAR
Malaysia Maldives
Malaysia Singapore
Mauritius Seychelles
Mexico China, Hong Kong SAR
Mexico Unspecified Area
Mexico Venezuela (Bolivarian Republic of)
Morocco Unspecified Area
Netherlands China, Hong Kong SAR
Netherlands Unspecified Area
New Zealand Bahrain
New Zealand China, Hong Kong SAR
New Zealand China, Macao SAR
New Zealand Cook Islands
New Zealand French Polynesia
New Zealand Singapore
New Zealand Tonga
Oman Bahrain
Pakistan Mauritius
Pakistan Singapore
Poland Unspecified Area
Portugal Cabo Verde
Portugal China, Macao SAR
Portugal Sao Tome and Principe
Qatar Bahrain
Republic of Korea China, Hong Kong SAR
Romania Singapore
Russian Federation Unspecified Area
Saudi Arabia Bahrain
Saudi Arabia Mauritius
Saudi Arabia Singapore
Singapore Australia
Singapore Bangladesh
Singapore Brunei Darussalam
Singapore Cambodia
Singapore China, Hong Kong SAR
Singapore China, mainland
Singapore India
Singapore Indonesia
Singapore Israel
Singapore Kiribati
Singapore Malaysia
Singapore Maldives
Singapore Mauritius
Singapore Myanmar
Singapore Philippines
Singapore Republic of Korea
Singapore Seychelles
Singapore Sri Lanka
Singapore Timor-Leste
Singapore Viet Nam
South Africa Eswatini
South Africa Mauritius
Spain Bahrain
Spain Cabo Verde
Spain China, Hong Kong SAR
Spain Maldives
Spain Mauritius
Spain Unspecified Area
Sri Lanka Maldives
Sweden China, Hong Kong SAR
Switzerland Bahrain
Switzerland China, Hong Kong SAR
Switzerland Maldives
Switzerland Singapore
Thailand China, Hong Kong SAR
Thailand Guam
Thailand Lao People's Democratic Republic
Thailand Singapore
Turkey China, Hong Kong SAR
Turkey Singapore
Turkey Unspecified Area
United Arab Emirates Bahrain
United Arab Emirates China, Hong Kong SAR
United Arab Emirates Maldives
United Arab Emirates Mauritius
United Arab Emirates Singapore
United Arab Emirates Unspecified Area
United Kingdom Barbados
United Kingdom China, Hong Kong SAR
United Kingdom China, Macao SAR
United Kingdom Singapore
United States of America Aruba
United States of America Bahrain
United States of America Barbados
United States of America Cayman Islands
United States of America China, Hong Kong SAR
United States of America Singapore
Yemen Bahrain
Yemen Singapore
Zambia Mauritius

In [ ]:
json_to_js(countries, "countries")
json_to_js(exportations, "exportations")